<nav class="bg-gray-100 border-gray-200 px-2 sm:px-4 py-2.5 shadow-md">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <div>
    <a router-link="/" class="flex items-center">
      <span class="self-center text-xl font-semibold whitespace-nowrap">DigitalBank</span>
    </a>
    </div>



    <div class="flex items-center md:order-2">
      <ng-container *ngIf="!user; else authenticated">
        <a routerLink="/login" class="hover:bg-purple-100 transition duration-300 ease-in-out block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-purple-100 rounded hover:text-blue-700">Login</a>

        <span class="text-gray-600 mx-2">|</span>

        <a routerLink="/login" class="hover:bg-purple-100 transition duration-300 ease-in-out block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-purple-100 rounded hover:text-blue-700">Sign in</a>
      </ng-container>

      <ng-template #authenticated>
        <button type="button" class="flex mr-3 text-sm rounded-full md:mr-0 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
          <span class="sr-only">Open user menu</span>
          <div class="transition ease-out-in duration-300 bg-gray-800 w-10 h-10 rounded-full overflow-hidden hover:ring-4 hover:ring-gray-300">
            <img src={{usr}} alt="user photo"/>
          </div>
        </button>
        <a router-link="/" class="text-gray-600 hover:text-gray-800"> {{user?.username}}</a>
        <button (click)="logout()" class="hover:bg-blue-100 transition duration-300 ease-in-out block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-blue-100 rounded md:border-0 md:hover:text-blue-700 md:p-2">LOGOUT</button>

      </ng-template>

    </div>
    <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">

        <li>
          <a routerLink="/" class="hover:bg-blue-100 transition duration-300 ease-in-out block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-blue-100 rounded md:border-0 md:hover:text-blue-700 md:p-2">Home</a>
        </li>

        <li>
          <a routerLink="/customers" class="hover:bg-blue-100 transition duration-300 ease-in-out block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-blue-100 rounded md:border-0 md:hover:text-blue-700 md:p-2">Customer
          </a>
        </li>

        <li>
          <a routerLink="/accounts" class="hover:bg-blue-100 transition duration-300 ease-in-out block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-blue-100 rounded md:border-0 md:hover:text-blue-700 md:p-2">Accounts</a>
        </li>

        <li>
          <a routerLink="/offers" class="hover:bg-blue-100 transition duration-300 ease-in-out block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-blue-100 rounded md:border-0 md:hover:text-blue-700 md:p-2">Offers</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>
