<div class="w-1/2 bg-gray-100 rounded-lg p-5 my-20 shadow-2xl mx-auto">
  <h1 class="text-center font-extrabold text-3xl">Login</h1>
  <hr class="my-4"/>
  <form method="post" [formGroup]="loginForm" (ngSubmit)="handleLoginSubmit()" class="w-2/3 mx-auto">
    <label>Username : </label>
    <input type="text" placeholder="Enter your username .." formControlName="username" class="p-2 w-full my-3 rounded-lg shadow-sm hover:shadow-lg focus:shadow-lg transition ease-in-out duration-300 delay-150"/>
    <label>Password : </label>
    <input type="password" placeholder="Enter your Password .." formControlName="password" class="p-2 my-3 w-full rounded-lg shadow-sm hover:shadow-lg focus:shadow-lg transition ease-in-out duration-300 delay-150"/>
    <button type="submit" class="px-3 py-2 bg-blue-600 text-right text-white mr-0 my-4 rounded-lg">Submit</button>
  </form>
</div>
