<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Étudiants — Page inaccessible</title>
</head>
<body>
<div layout:fragment="content">
    <div class="uk-margin-large uk-text-center">
        <h2 class="uk-text-center">La page n'est pas autorisée</h2>
        <p class="uk-text-center">Vous n'êtes pas autorisé à accéder à cette page.</p>
        <img src="../static/images/output-onlinegiftools.gif" th:src="@{/images/output-onlinegiftools.gif}" width="200px">
        <a th:href="@{/}" class="uk-button uk-button-primary">Retour à l'accueil</a>
    </div>
</div>
</body>
</html>