<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content" th:align="center">
    <div class="uk-width-2-3@m uk-text-left  uk-box-shadow-large uk-padding uk-card uk-card-default">
        <h3 class="uk-card-title uk-text-center">Modifier un étudiant</h3>
        <hr/>
        <form class="uk-form-horizontal uk-grid-margin-medium uk-text-left" method="post" th:action="@{/admin/save(page=${page},keyword=${keyword})}">
            <div>
                <label class="uk-form-label" for="id">ID : </label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="id" name="id" type="text" th:value="${etudiant.id}"/>
                </div>
            </div>
            <div>
                <div class="uk-form-controls">
                    <input id="nom" class="uk-input" placeholder="Nom" type="text" name="nom" th:value="${etudiant.nom}">
                </div>
                <span class="text-danger" th:errors="${etudiant.nom}"></span>
            </div>
            <div>
                <div class="uk-form-controls">
                    <input id="prenom" placeholder="Prenom" class="uk-input" type="text" name="prenom" th:value="${etudiant.prenom}">
                </div>
                <span class="text-danger" th:errors="${etudiant.prenom}"></span>
            </div>
            <div>
                <div class="uk-form-controls">
                    <input id="email" class="uk-input" placeholder="Email" type="email" name="email" th:value="${etudiant.email}"/>
                </div>
                <span class="uk-text-danger" th:errors="${etudiant.email}"></span>
            </div>
            <div>
                <div class="uk-form-controls">
                    <input class="uk-input" placeholder="Date de Naissance" type="date" name="dateNaissance" th:value="${etudiant.dateNaissance}">
                </div>
                <span class="uk-text-danger" th:errors="${etudiant.dateNaissance}"></span>
            </div>
            <div>
                <label class="uk-form-label">En règle : </label>
                <div class="uk-form-controls">
                    <input class="uk-checkbox" type="checkbox" name="malade" th:checked="${etudiant.en_regle}">
                </div>
                <span class="uk-text-danger" th:errors="${etudiant.en_regle}"></span>
            </div>

            <div th:each="model : ${T(ma.enset.etudiantsmvc.entities.Genre).values()}">
                <div class="uk-form-controls">
                    <input type="radio" th:field="*{etudiant.genre}" th:value="${model}" class="uk-radio">
                    <label class="custom-control-label" th:for="${#ids.prev('genre')}" th:text="${model}">model</label>
                </div>
            </div>

            <div>
                <button type="submit" class="uk-button uk-button-primary">Modifier</button>
            </div>
        </form>
    </div>
</div>
</html>