<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">

<div layout:fragment="content">
    <div class="uk-margin-large-left uk-text-center">
        <img class="uk-border-circle" src="../static/images/me.jpg" th:src="@{images/me.jpg}" width="150px" />
        <h2>
            <a href="https://linkedin.com/in/naoufal-alaa">
                Naoufal ALAA
            </a>
        </h2>
        <h2 class="uk-margin-large uk-text-left">Welcome you all! </h2>
        <p class="uk-text-left">
            You can use this as a starting point for your own web application.
        </p>
        <p class="uk-text-left">
            The source code for this web application is available on
            <a href="https://github.com/naoufalalaa">GitHub</a>.
        </p>
    </div>
</div>
</html>