<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">

<div layout:fragment="content">
    <div class="uk-margin-large-left">
        <h3 class="uk-margin-large uk-text-left">Welcome you all! </h3>
        <p class="uk-text-left">
            This is a simple example of a Thymeleaf web application.
        </p>
        <p class="uk-text-left">
            You can use this as a starting point for your own web application.
        </p>
        <p class="uk-text-left">
            The source code for this web application is available on
            <a href="https://github.com/naoufalalaa">GitHub</a>.
        </p>
        <div class="uk-width-2-3@m">
            <h4 class="uk-margin-large uk-text-left"><img class="uk-border-circle" src="../static/images/me.jpg" th:src="@{images/me.jpg}" width="150px" />
                <a href="https://github.com/naoufalalaa/">
                    <span class="uk-text-primary">
                        <i class="fa-brands fa-github"></i>
                    </span>
                    Naoufal Alaa
                </a>
            </h4>
        </div>
    </div>
</div>
</html>