<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/webjars/uikit/3.9.2/css/uikit.min.css"/>
    <script src="/webjars/uikit/3.9.2/js/uikit.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Patients</title>
</head>
<body>
<nav class="uk-navbar-container uk-margin-large-bottom" uk-navbar="mode: click; offset:0">
    <div class="uk-navbar-left uk-margin-large-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a th:href="@{/index}">Home</a></li>
            <li>
                <a href="#">Patients <i class="fa-solid fa-angle-down"></i></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav" sec:authorize="isAuthenticated()">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/index}">Chercher</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/formPatient}">Ajouter Patient</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>

    <div class="uk-navbar-right uk-margin-large-right" >
        <ul class="uk-navbar-nav" sec:authorize="isAuthenticated()">
            <li>
                <a href="#">
                    <span sec:authentication="name"></span> <i class="fa-solid fa-angle-down"></i>
                </a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a th:href="@{/formPatient}" sec:authorize="hasRole('ADMIN')">Ajouter Patient</a></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="uk-navbar-nav" sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/login}"> Login</a></li>
        </ul>
    </div>
</nav>
    <div layout:fragment="content">
    </div>
</body>
</html>